.env
*.pyc
venv*
env
*.tags*

.cache
_cache/*

# local development
database.db
*.db
*.db-journal

# pytest
.coverage

# Visual Studio Code
.vscode
.DS_Store

# log files
stock_app/logs/error_file.log
stock_app/logs/info_file.log
