{% extends "base_layout.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Welcom to StockApp</h1>
            <div>This is a quick way to view the price of stocks</div>
        </div>
        <div class="col">
            <ul>
                <li> <a href="{{ url_for('stock', ticker='AAPL') }}">Veiw AAPL</a></li>
                <li> <a href="{{ url_for('stock', ticker='GOOGL') }}">Veiw GOOGL</a></li>
                <li> <a href="{{ url_for('stock', ticker='FB') }}">Veiw FB</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

