<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title>{% block title %}Veiw Stock Prices{% endblock %} - Stock App</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content between">
        <a href="{{ url_for('home.home_page') }}" class="navbar-brand">Stock App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.url_rule.endpoint == 'home_page' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('home.home_page') }}"> Home </a>
            </li>
        </ul>
        <form class="form-inline" method="POST" action="{{ url_for('home.lookup') }}">
            <input oninput="this.value = this.value.toUpperCase()" class="form-control mr-sm-2" type="input" name="ticker" placeholder="AAPL" aria-label="Lookup">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Lookup
            </button>
        </form>
    </nav>
    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
</body>
</html>